* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .container-news {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 700px;
    margin: 20px auto;
  }
  .container-news .formulario {
    border: 1px solid #333;
    border-radius: 5px;
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  .container-news .formulario input:not(input[type="checkbox"]) {
    border: 1px solid #333;
    border-radius: 5px;
    margin-bottom: 16px;
    width: 100%;
    padding: 10px;
  }
  .container-news .formulario .check {
    display: flex;
    width: 100%;
    align-items: center;
    margin-bottom: 1rem;
  }
  .container-news .formulario .check input {
    margin-right: 10px;
  }
  .container-news .formulario .botao {
    background-color: black;
    color: rgb(161, 8, 8);
    margin: 0 auto;
    font-weight: 700;
    width: 90%;
    padding: 10px;
    cursor: pointer;
    font-family: "Blood";
    letter-spacing: 2px;
    font-size: 20px;
    border-radius: 5px;
  }
  .container-news .formulario .botao:hover {
    filter: brightness(0.9);
  }
  @media screen and (min-width: 992px) {
    .container-news .formulario {
      padding: 50px 50px 30px;
    }
  }