
footer {
  background-color: #cdd7e7cf;
  padding: 10px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer {
  color: rgba(8, 97, 161, 0.924);
  margin-top: 50px;
}

footer p:first-child {
  margin-bottom: 4px;
}

footer p:last-child {
  font-size: 12px;
  margin-bottom: 10px;
}
.copyright {
  font-style: italic;
  text-align: center;
  font-size: 20px!important;
}
@media screen and (min-width: 992px) {
  footer {
    flex-direction: row;
    justify-content: center;
  }

  footer {
    align-items: flex-end;
  }

  footer p:last-child {
    margin-bottom: 0;
  }
}
