* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, sans-serif;
}
.btn-modal{
  border: 0;
  margin: 0;
  padding: 0;
}
.btn-modal:hover{
  box-shadow: none;
}
body {
  position: relative;
}
.carousel {
  width: 70%;
  height: 40%;
  align-items: center;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}
.carousel-item img {
  height: 200px;
}
.carousel-item p{
  font-weight: 600;
}
#fundo img {
  position: fixed;
  opacity: 0.7;
  z-index: -1;
  height: 100vh;
  width: 100vw;
}

.conteudo {
  margin: 10px 40px;
  padding-top: 80px;
}

.container-cards {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0 100px;
  /* display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap; */
}
.card {
  border: 1px solid #333;
  border-radius: 8px;
  width: 250px;
  margin: 20px 0;
  box-shadow: 0 0 1em rgb(31, 70, 153);
  transition: transform 0.25s linear;
  background-color: #fff;
}
.card:hover {
  transform: scale(1.1);
}

.card img {
  height: 200px;
  object-fit: cover;
  width: 100%;
  border-radius: 8px 8px 0 0;
}
.card p {
  padding: 10px;
  text-align: center;
  font-family: "Blood";
  letter-spacing: 2px;
  font-size: 20px;
}
.card .container-botao {
  display: flex;
  justify-content: flex-end;
}
.card a {
  background-color: #aaabb3bb;
  color: rgba(8, 97, 161, 0.924);
  border-radius: 5px;
  text-decoration: none;
  padding: 8px 16px;
  margin: 6px;
  font-family: "Blood";
  letter-spacing: 2px;
}

@media screen and (min-width: 500px) {
  .container-cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 992px) {
  #fundo {
    background-image: url("http://www.osmais.com/wallpapers/201206/trapiche-mar-azul-wallpaper.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    background-position: center;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    z-index: -1;
  }
  #fundo img {
    display: none;
  }
  
  .titulo-pagina h1 {
    font-size: 28px;
  }
  .conteudo {
    padding-top: 60px;
  }
  .container-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .card {
    margin: 30px 0;
  }
  .container-sobre {
    flex-direction: row;
    justify-content: space-between;
    margin: 30px 0;
  }
  .container-sobre p {
    margin-left: 100px;
    margin-top: 0;
  }
  .container-news .formulario {
    padding: 50px 50px 30px;
  }

  .carousel {
    margin-top: 85px;
    margin-bottom: 50px;
  }
  .carousel-item img{
    max-height: inherit;
    height: 500px;
  }
}
